div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

li{
    padding-right: 80px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
