h1{
    display: flex;
    flex-direction: column;
    align-items: center;
}

img{
    width: 20rem;
    border-radius: 5px;
}



body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

footer{
    display: flex;
    flex-direction: column;
    align-items: end;
}