# Node modules
node_modules/

# Vite build output
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# IDE settings (optional)
.vscode/
.idea/

# Jest coverage output
coverage/

# Env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
