.pageTop{
    display:flex;
    justify-content: space-between;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #1F2937;
    color: aliceblue;
    padding-left: 20px;
    padding-right:20px; 
}

a{
    text-decoration: none;
    margin-right: 8px;
    color: aliceblue;
}