.pageTop{
    display:flex;
    justify-content: space-between;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #1F2937;
    color: aliceblue;
    padding-left: 20px;
    padding-right:20px; 
}

a{
    text-decoration: none;
    margin-right: 8px;
    color: aliceblue;
}

.pageIntro{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 15%;
    padding-right:15%;
    padding-bottom: 5%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: aliceblue;
    background-color: #1F2937;
}
button{
    color: aliceblue;
    background-color: #3882F6;
    border: 1px solid white;
    border-radius: 5%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h3{
    display: flex;
    justify-content: center;
    font-size: 36px;
}

.mainData{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: smaller;
    margin-left: 10%;
    margin-right: 10%;
}

img{
    width: 50px;
    height: 50px;
    border:2px solid #3882F6 ;
    border-radius: 10%;
}

.quote{
    background-color:grey;
    color: aliceblue;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    padding: 10%;
    align-items: end;
}

#personName{
    color: black;
}

#testimonial{
    padding-left: 10%;
    padding-right: 10%;
}

.actionSection{
    display: flex;
    justify-content: space-between;
    background-color: #3882F6;
    color: aliceblue;
    font-weight: bolder;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 5%;
    margin-right: 5%;
}

span{
    display: block;
    font-size: 15px;
}

#actionButton{
    margin-top: 5%;
    margin-bottom: 5%;
}

.footer{
    background-color: #1F2937;
    color: aliceblue;
    display: flex;
    justify-content: center;
}