.header{
  display: flex;
  justify-content: space-between;
  background-color: aquamarine;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  border-radius: 1rem;
  padding: 0rem 1rem 0rem 1rem;
}