.gameContainer{
    display: flex;
    justify-content: space-between;
    margin: 25%;
    background-color: beige;
}

button{
    width: 50px;
    height: 50px;
    background-color: aqua;
    border:2px solid red;
    border-radius: 10%;
    margin-top: 2.5%;
}

textarea{
    border: none;
    outline: none;
    resize: none;
    background: none;
    text-align: center;
    margin-top: 5%;
}



